body
{
    .header {
        background-color: #005b10;
        margin-bottom: 2rem;
        padding: 3rem 1rem;
        text-align: center;
        font-size: 50px;
        color: white;
        font-family: "Comic Sans MS";
    }

    h1 {
        text-align: left;
        font-family: "Comic Sans MS";
        padding-left: 15px;
        margin-bottom: 3rem;
    }

    h2 {
        text-align: left;
        font-family: "Comic Sans MS";
        padding-left: 15px;
        margin-bottom: 3rem;
    }

    h3 {
        text-align: left;
        font-family: "Comic Sans MS";
        padding-left: 15px;
        margin-bottom: 3rem;
        font-color: "#454545";
    }

    button {
        border-radius: 25px;
    }

    .accordion-body {
        font-family: "Comic Sans MS";
    }

    .accordion {
        margin-bottom: 3rem;
    }

    table {
        margin: 0 auto;
        border: 1px solid black;
        margin-bottom: 3rem;
    }

    td {
        border: 1px solid black;
        padding-right: 15px;
    }

    .buttons {
        padding-left: 15px;
        margin-bottom: 1rem;
    }

    .buttonAnswer {
        padding-left: 15px;
        margin-bottom: 2rem;
    }

}
